{% extends "base.html" %}

{% block title %}Home - 42RGE Discord Authentication{% endblock %}

{% block content %}
<div class="text-center">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
        {{ message }}<br />
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% if user %}
    <h2>Hi, {{ user.login }}!</h2>
    <p>
        <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
        <a class="btn btn-danger" href="{{ url_for('delete_account') }}">Unlink Discord Account</a>
    </p>
    {% else %}
    <p>
        <a class="btn btn-primary" href="{{ oauth_uri }}">Join the Discord Server</a>
    </p>
    {% endif %}
</div>
{% endblock %}
